.header {
   background-color: #fff;
}
.header-top {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.logo {
   text-align: center;
   width: 100%;
   max-width: 180px;
   margin: 15px 0;

      & img {
         width: 100%;
         height: auto;
      }
      &__text {
         font-size: 11px;
         color: #4878A6;
      }
}
.info-panel {
   display: flex;
   align-items: center;
}
.contact {
   display: flex;
   margin-right: 50px;

		&__contact-item {
         font-weight: 500;
         font-size: 16px;
         line-height: 100%;
         color: #070C11;
         margin-right: 20px;
         &:nth-child(3) {
            color: #838688;
         }
         &:last-child {
            margin-right: 0;
         }
		}

}
.search {
   background-color: #fff;
   display: flex;
   border-bottom: 1px solid #C8CACB;
   margin-right: 30px;

		&__form {
         width: 110px;
		}
		&__content {
         display: flex;
         align-items: center;
		}
		&__button {
         display: none;
         position: relative;
         z-index: 20;
         justify-content: center;
         align-items: center;
         cursor: pointer;
         width: 30px;
         height: 30px;
         background-color: #fff;
         margin-left: 15px;
		}
		&__input {
         display: flex;
         max-width: 65px;
         padding: 15px 0;
         margin-left: 15px;
         cursor: pointer;
		}
      &__content-img {
         display: block;
         width: 30px;
         height: 30px;
         cursor: pointer;
         display: flex;
         justify-content: center;
         align-items: center;
      }
}
.search-active {
   display: flex;
   align-items: center;
   position: absolute;
   top: 15px;
   left: 0;
   width: 100%;
   height: 57px;
   border: 1px solid #4878A6;
   border-radius: 4px;

   .search__input {
      max-width: 100%;
   }
   .search__form {
      width: 100%;
   }
   .search__content {
      width: 100%;
   }
}
.search-active .search__button {
   display: flex;
}
.search-active .search__content-img {
   display: none;
}
.search-icon {
   width: 20px;
   height: 20px;
   fill: #C8CACB;
}
.search-active .search-icon:hover {
   fill: #4878A6;
}
.icons {
   display: flex;
   margin-right: 35px;
		&__item {
         display: flex;
         justify-content: center;
         align-items: center;
         width: 25px;
         height: 25px;
         margin-left: 25px;
         background-color: #fff;
         &:first-child {
            margin-left: 0;
         }
		}
}
.panel-svg {
   display: flex;
   margin: 0 auto;
   width: 25px;
   height: 25px;
   fill: #838688;
   &:hover {
      fill: #4878A6;
   }
}
.button-login {
   &__link {
      padding: 15px 25px;
      background-color: #2A5275;
      color: #fff;
      border-radius: 4px;

      &:hover {
         background-color: #4878A6;
      }
   }
}
//============header-bottom=============
.header-bottom {
   background-color: #0E1821;
   color: #fff;

		&__content {
         display: flex;
         align-items: center;
		}
}
.button {
   display: flex;
   align-items: center;
   background-color: #243C53;
   padding: 25px;
   width: 100%;
   max-width: 310px;
   cursor: pointer;

   &__link {
      margin-left: 15px;
   }

   &__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 25px;
      height: 25px;
   }
}
.menu-icon {
}
.nav {
   margin-left: 25px;

		&__list {
         display: flex;
         align-items: center;
		}

		&__item {
         margin-left: 40px;
         &:first-child {
            margin-left: 0;
         }
		}

		&__link {
         font-style: normal;
         font-weight: 500;
         font-size: 16px;
         line-height: 100%;
         color: #FFFFFF;
         &:hover {
            color: #4878A6;
         }
		}
}
//============ Форма входа ==============

.signin {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   opacity: 0;
   visibility: hidden;
   overflow-y: auto;
   overflow-x: hidden;
   transition: all 0.3s ease 0s;
   z-index: 100;

   &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #4878A6;
      opacity: 0.7;
      z-index: -1;
   }

   &__body {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100%;
   }
   &__content {
      width: 100%;
      max-width: 400px;
      background-color: #fff;
      border-radius: 8px;
      overflow: hidden;
   }

   &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #EDF2F6;
      padding: 20px 30px;
   }

   &__header-title {
      font-weight: 600;
      font-size: 24px;
      line-height: 120%;
      color: #070C11;
   }

   &__close {
      width: 30px;
      height: 30px;
      position: relative;
      cursor: pointer;

      &:after {
         content: "";
         position: absolute;
         top: 14px;
         left: 0;
         width: 100%;
         height: 1px;
         background-color: #F15152;
         transform: rotate(45deg);
      }
      &:before {
         content: "";
         position: absolute;
         top: 14px;
         left: 0;
         width: 100%;
         height: 1px;
         background-color: #F15152;
         transform: rotate(-45deg);
      }
   }
   &__content-body {
      padding: 30px;
   }

}
.signin.open {
   opacity: 1;
   visibility: visible;
}
.form {
   display: flex;
   flex-direction: column;
}
.form-signin {
   display: flex;
   flex-direction: column;

   &__input {
      border: 1px solid #EAEAF0;
      border-radius: 5px;
      margin-top: 8px;
      margin-bottom: 20px;
      padding: 15px 25px;
      &:last-child {
         margin-bottom: 10px;
      }
   }
   &__reset {
      margin-bottom: 20px;
      color: #4878A6;
      &:hover {
         color: #2A5275;
      }
   }

   &__checkbox {
      margin: 25px 0;
   }

   &__checkbox-input {
   }

   &__checkbox-content {
      width: 20px;
      height: 20px;
   }

   &__button {
      display: flex;
      justify-content: center;

   }

   &__button-link {
      width: 100%;
      padding: 16px 0;
      border-radius: 4px;
      background-color: #2A5275;
      color: #fff;
      cursor: pointer;
      transition: all 0.2s easy 0s;
      &:hover {
         background-color: #4878A6;
      }
   }
   &__link-content {
      margin-top: 20px;
   }
   &__text {
      font-weight: 500;
      font-size: 14px;
      line-height: 130%;
      color: #070C11;
   }
   &__link {
      color: #4878A6;
      &:hover {
         color: #2A5275;
      }
   }
}
.reg .form-signin__link-content {
   margin-bottom: 10px;
}
