<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <meta name="theme-color" content="#4878A6">
   <title>Smart Техника</title>
   <!-- <link rel="preload" href="fonts/Exo2-Bold.woff2" as="font" type="font/woff2" crossorigin>
   <link rel="preload" href="fonts/Exo2-SemiBold.woff2" as="font" type="font/woff2" crossorigin>
   <link rel="preload" href="fonts/Exo2-Medium.woff2" as="font" type="font/woff2" crossorigin>
   <link rel="preload" href="fonts/Exo2-Regular.woff2" as="font" type="font/woff2" crossorigin>
   <link rel="preload" href="fonts/Inter-Regular.woff2" as="font" type="font/woff2" crossorigin>
   <link rel="preload" href="fonts/Roboto-Regular.woff2" as="font" type="font/woff2" crossorigin>
   <link rel="preload" href="fonts/SourceSansPro-Regular.woff2" as="font" type="font/woff2" crossorigin> -->
   <link rel="stylesheet" href="css/vendor.css">
   <link rel="stylesheet" href="css/main.css">
   <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
   <script defer src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
   <script defer src="js/main.js"></script>
</head>
